<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Upheader</title>
    <link rel="stylesheet"
          th:href="@{/resources/static/css/font-awesome.min.css}"
          href="../../../resources/static/css/font-awesome.min.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/bootstrap.min.css}"
          href="../../../resources/static/css/bootstrap.css">
    <link rel="stylesheet"
          th:href="@{/resources/static/css/style.css}"
          href="../../../resources/static/css/style.css">
</head>
<body>

<div th:fragment="upheader(type)">
    <div id="navbar-with-logo" class="navbar navbar-expand-md navbar-dark">
        <a href="../publications.html"
           th:href="@{/publications}"
           id="navbar-name" class="my-2 ml-2 navbar-brand">
            <img height="70"
                 src="../../../resources/static/img/book.svg"
                 th:src="@{/resources/static/img/book.svg}">
            <span id="navbar-title"
                  th:text="#{app.title}">Writers and publications</span>
        </a>
    </div>
    <hr class="horizontal-line"/>
    <nav id="navbar-with-nav" class="py-1 navbar navbar-expand-sm navbar-dark">
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <div class="navbar-nav">
                <a class="nav-item nav-link"
                   th:classappend="${type}=='publications' ? 'active'"
                   th:href="@{/publications}"
                   href="../publications.html">Publications <span th:if="${type}=='publications'" class="sr-only">(current)</span></a>
                <a class="nav-item nav-link"
                   th:classappend="${type}=='writers' ? 'active'"
                   th:href="@{/writers}"
                   href="../writers.html">Writers <span th:if="${type}=='writers'" class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>
</div>

<script src="../../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>

</body>
</html>